.horizontal {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  background-color: #111;
  text-align: right;
  color: white;
}

.horizontal > .button {
  cursor: pointer;
}

.horizontal > .titulo {
  padding: 5px;
  font-size: 30px;
}

.horizontal > .resultado {
  padding: 5px;
} 